* {
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    background-color: #121212;
}

a {
    color: #cc8dd4;
}

div {
    margin: 0;
    padding: 0;
    font-family: Consolas;
    font-size: 1.2vw;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

footer {
    position: absolute;
    bottom: 0;
}

.center {
    display: flex;
    justify-content: center;
}

#title {
    margin: 5%;
    padding: 0;
    font-size: 4vw;
    padding: 0px;
}
