/* https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* end of reset */

:root {
    --dark-100: #121212;
    --dark-200: #282828;
    --dark-300: #3f3f3f;
    --dark-400: #575757;
    --dark-500: #717171;
    --dark-600: #8b8b8b;
    --prim-100: #9c27b0;
    --prim-200: #a945b9;
    --prim-300: #b55ec2;
    --prim-400: #c176cb;
    --prim-500: #cc8dd4;
    --prim-600: #d7a4dd;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--dark-100);
}

h1,
h2,
h3,
a {
    font-family: "Plus Jakarta Sans";
}

a {
    color: var(--prim-500);
    font-weight: 800;
}

p {
    font-family: "DM Sans";
}

h1.intro-header {
    font-size: 3em;
    text-align: center;
    margin: 1em;
}

h2.intro-subheader {
    text-align: center;
}

a.button {
    text-decoration: none;
    color: black;
    background-color: var(--prim-500);
    font-size: 0.9em;
    font-weight: 800;
    letter-spacing: 0.06em;
    border-radius: 2em;
    padding: 0.7em 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}

a.button:hover {
    background-color: var(--prim-600);
}

div.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

div.project-section {
    display: flex;
    justify-content: center;
    padding: 3em;
}

div.project-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
}

div.card {
    position: relative;
    background-color: var(--dark-200);
    width: 20em;
    height: 15em;
    border-radius: 1.2em;
}

h2.project-title {
    font-size: 1em;
    margin-top: 4%;
    margin-left: 6%;
    margin-right: 6%;
}

p.project-description {
    color: var(--dark-600);
    font-size: 0.85em;
    margin-top: 0.4em;
    margin-left: 6%;
    margin-right: 6%;
}

div.project-links {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1em;
}

a.project-button {
    margin-right: 2em;
}
